---
import Container from "./Container.astro";
---

<footer class="p-4">
  <div class="flex flex-row justify-between items-center">
    <Container>
      <div class="flex flex-row justify-center items-center">
        ©{new Date().getFullYear()}
      </div>
    </Container>
  </div>
</footer>
