---
import Container from "./Container.astro";
---

<header class="p-4">
  <Container>
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-row items-center gap-12">
        <h1>🎉 Followversary Bot</h1>

        <nav class="flex flex-row items-center gap-4">
          <a href="/">Home</a>
          <a href="/setup">Setup</a>
        </nav>
      </div>
      <div>
        <a href="https://github.com">GitHub</a>
      </div>
    </div>
  </Container>
</header>
